<div id="article_list">

<h1>Listing Articles</h1>

<table>


    <% @articles.each do |article| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td><%= image_tag(article.image_url, :class => 'list_image') %></td>

        <td class="list_description">
          <dl>
          <dt><%= article.title %></dt>
            <dd><%= truncate(strip_tags(article.description),
                              :length => 80) %></dd>
          </dl>
        </td>

        <td class="list_actions">
          <%= link_to 'Show', article %> <br/>
          <%= link_to 'Edit', edit_article_path(article) %> <br/>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>

    <% end %>


</table>

</div>

<br>

<%= link_to 'New Article', new_article_path %>
